:root {
    --main-background-color : #F0E5FF;
    --sub-background-color : #FDF4FF;
    --content-background-color : #F2F2F2;
    --main-txt-color : #000000;
    --sub-txt-color : #FFFFFF;
    --hint-txt-color : #979797;

    --title-font-size : 63px;
    --sub-title-font-size : 54px;
    --semi-btn-font-size : 36px;
    --semi-title-font-size : 32px;
    --semi-content-font-size : 24px;
}

html, body {
    margin: 0;
    padding: 0;
}

.wrap {
    position: relative;
    padding-bottom: 100px;
}

#containerContents {
    width: 1310px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 350px;
}

.infoInputContainer,
.mbtiInputContainer,
.idealMbtiInputContainer,
.addrInputContainer,
.keywordInputContainer,
.idealKeywordContentContainer {
    margin-top: 50px;
}

.titleContainer {
    width: 100%;
    height: 200px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

.subTitle {
    background-color: var(--main-background-color);
    position: relative;
    width: 696px;
    height: 142px;
    text-align: center;
    border-radius: 30px;
    font-size: var(--title-font-size);
    line-height: 142px;
    font-weight: bolder;
    position: absolute;
    clear: left;
    float: left;
    top: 30px;
}

.detailTitle {
  font-size: var(--semi-btn-font-size);
  font-weight: bold;
  margin-bottom: 30px;
}

.miniTitle {
  font-size: var(--semi-title-font-size);
  font-weight: bold;
}

.idInputContainer > .miniTitle,
.ageInputContainer > .miniTitle,
.heightInputContainer > .miniTitle {
    flex: 1;
    margin-top: 10px;
}

.linkInputContainer > .miniTitle {
    width: 300px;
    margin-top: 10px;
}

.idInputContainer,
.ageInputContainer,
.sexInputContainer,
.heightInputContainer,
.idealAgeInputContainer,
.idealHeightInputContainer {
    display: flex;
    width: 1000px;
    flex-direction: row;
    margin-top: 30px;
}

.idInput,
.ageInput,
.heightInput {
    width: 440px;
    height: 74px;
    flex: 2;
    background-color: var(--content-background-color);
    border: none;
    border-radius: 30px;
    font-size: var(--semi-title-font-size);
    text-align: center;
}

input::placeholder {
    color: #000000;
    font-size: var(--semi-title-font-size);
}

.mSex,
.fSex {
    font-size: var(--semi-title-font-size);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: var(--content-background-color);
    width: 200px;
    height: 70px;
    margin-right: 100px;
    flex: 1;
}

.sexInputContainer > .miniTitle {
    flex: 2;
}

.enfj, .idealEnfj, .infj, .idealInfj,
.intj, .idealIntj, .entj, .idealEntj,
.enfp, .idealEnfp, .infp, .idealInfp,
.intp, .idealIntp, .entp, .idealEntp,
.esfp, .idealEsfp, .isfp, .idealIsfp,
.istp, .idealIstp, .estp, .idealEstp,
.esfj, .idealEsfj, .isfj, .idealIsfj,
.istj, .idealIstj, .estj, .idealEstj {
    width: 100px;
    font-size: var(--semi-title-font-size);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: var(--content-background-color);
    padding: 10px;
}

.dog, .idealDog, .cat, .idealCat,
.rabbit, .idealRabbit, .bear, .idealBear,
.kind, .idealKind, .calm, .idealCalm,
.active, .idealActive, .cute, .idealCute,
.thin, .idealThin, .muscle, .idealMuscle,
.normal, .idealNormal, .full, .idealFull,
.game, .idealGame, .movie, .idealMovie,
.trip, .idealTrip, .exercise, .idealExercise {
    width: 150px;
    font-size: var(--semi-content-font-size);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: var(--content-background-color);
    padding: 10px;
}

button:focus {
    background-color: var(--main-background-color);
}

.mbtiBtnContainer,
.idealMbtiBtnContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px 100px; 
}
.keywordBtnContainer,
.idealKeywordBtnContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px 45px; 
    margin-top: 30px;
}

.selectContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

select {
    width: 300px;
    height: 70px;
    font-size: var(--semi-title-font-size);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: var(--content-background-color);
    margin-right: 150px;
}

.informationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.informationBtn {
    width: 296px;
    height: 72px;
    background-color: var(--main-background-color);
    border: 3px solid var(--main-txt-color);
    border-radius: 20px;
    font-size: var(--semi-btn-font-size);
    color: var(--main-txt-color);
    font-weight: bold;
}


